/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

p a{
	text-decoration: underline;
}

nav{
    width: 100%;
    height: 40px;
    background-color: #24292e;
}

*{
    font-family: 'Open Sans', sans-serif;
	color: #24292e;
}

nav li{
    float: left;
}

a{
	text-decoration: none;
	color: black;
}

nav a{
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    line-height: 40px;
    display: block;
    padding: 0 10px;
}

nav li:hover a{
    color: rgba(255,255,255,1);
}

.container{
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.bold{
    font-weight: 600;
}

.home p{
	text-align: justify;	
}

.home h1, .project h1{
	font-size: 28px;
	margin-top: 30px;
	color: #999999;
}

.home h1::after, .project h1::after{
	content: "";
	display: block;
	width: 90%;
	margin: 20px auto 0 auto;
	border-bottom: 1px solid #e5e5e5;
}

.home h2{
	margin-top: 20px;
	font-size: 20px;
}

.home > p, .project p{
	margin-top: 10px;
}

.project ul{
	margin-top: 15px;
	margin-left: 30px;
}

.project li{
	margin-top: 5px;
}

.project h2{
	font-size: 24px;
	margin-top: 20px;
	color: #999999;
}

.project h3{
	font-size: 18px;
	margin-top: 15px;
	color: #999999;
}

.project img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid #999999;
	max-width: 100%;
}

.projects-container{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.projects-container .one-project{
	display: block;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	box-sizing: border-box;
	position: relative;
	transition: transform 0.5s;
}

.projects-container .one-project .float-more{
	right: 0;
	top: 50%;
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: yellow;
	text-align: center;
	padding: 10px;
}

.projects-container .one-project .float-more span{
	line-height: 20px;
}

.projects-container .one-project h3{
	margin-top: 5px;
	font-size: 22px;
}

.projects-container .one-project h3::after{
	display: block;
	content: "";
	width: 40%;
	margin: 5px 0 10px 0;
	border-bottom: 2px solid black;
}


.projects-container .one-project img{
	width: 100%;
	display: block;
}

.projects-container .one-project .img-container{
	position: relative;
	overflow: hidden;
}

.projects-container .one-project .img-container::before{
	z-index: 10;
	content: "";
	border-style: solid;
    	border-width: 125px 486px 0 0;
    	border-color: #fff transparent transparent;
	transition: border .5s;
	top: 0;
    	width: 0;
    	height: 0;
    	left: 0;
    	opacity: .1;
    	position: absolute;
}

.projects-container .one-project:hover .img-container::before{
	border-width: 200px 600px 0 0;
}

.projects-container .one-project:hover{
	transform: scale(1.05);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

footer{
	height: 200px;
}

@media screen and (max-width: 768px){
	nav{
		height: 100px;
	}
	
	nav a{
		line-height: 100px;
		padding: 0 30px;
		font-size: 40px;
	}
	
	.project ul{
		margin-left: 50px;	
	}
}
