<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
			
			<nav>
				<div class="container clearfix">
					<ul>
						<li><a class="bold" href="/">Home</a></li>
						<li><a class="bold" href="https://drive.google.com/file/d/0B5zI2J8cqFYPZmZpbmhWV1JJVUU/view?usp=sharing">CV</a></li>
						<li><a class="bold" href="mailto:stephaneham@gmail.com">Email</a></li>
					</ul>
				</div>
			</nav>
			<main class="container clearfix">
			
			{{ content }}
			
			</main>
			
			<footer>
				
			</footer>
		</body>
	</html>
