<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			<nav>
				<div class="container clearfix">
					<ul>
						<li><a class="bold" href="/">Home</a></li>
						<li><a class="bold" href="">CV</a></li>
						<li><a class="bold" href="/#projects">Past Projects</a></li>
					</ul>
				</div>
			</nav>
			<main class="container clearfix">
			
			{{ content }}
			
			</main>
		</body>
	</html>
